### WordPress ###

# Core
/wordpress/

# macOS/IDE
.DS_Store
.idea

# Log files
*.log
/tests/logs

# Packages
vendor/
node_modules/

# Enviroment
.env

# Build
build/
dist/
assets/css/
assets/js/
assets/images/

# Cache
.phpunit.result.cache
