.login form#loginform {
    padding: 26px 24px 115px !important;
    position: relative;
}

.login .wp_github_login {
    position: absolute;
    bottom: 10px;
    width: 85%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    z-index: 99;
}

.login .wp_github_login__button-container {
    position: relative;
}

.login .wp_github_login__button-container::before {
    content: 'OR';
    position: absolute;
    top: -19px;
    width: 40px;
    left: 50%;
    background: #fff;
    z-index: 9;
    transform: translateX(-50%);
    font-weight: 700;
}

.login .wp_github_login__button-container::after {
    content: '';
    width: 100%;
    background: #ddd;
    height: 1px;
    position: absolute;
    left: 0;
    top: -10px;
}

.wp_github_login__button {
    display: inline-block;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px 10px 52px;
    border-radius: 4px;
    margin: 12px 0;
    letter-spacing: 0.5px;
    border: 1px solid #333333;
    transition: all 0.3s ease-in-out;
    background: url(../images/GitHub-mark-light.png) no-repeat scroll 20px center #333333;
    background-size: 25px;
}

.wp_github_login__button:hover {
    color: #333333;
    border: 1px solid #333333;
    background: url(../images/GitHub-mark.png) no-repeat scroll 20px center transparent;
    background-size: 25px;
}

.wp_github_login__button:focus, .wp_github_login__button:active {
    outline: none;
}
