on: 
  workflow_dispatch:
name: Inspections
jobs:
  runPHPCSInspection:
    name: Run PHPCS inspection
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Run PHPCS inspection
      uses: rtCamp/action-phpcs-code-review@master
      env:
        SKIP_FOLDERS: "tests,.github"
        GH_BOT_TOKEN: ${{ secrets.RTBOT_TOKEN }}
